<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>
  <style>
    /* Basic styling for the navigation bar */
    .navbar {
      background-color: rgb(150, 212, 220);
      overflow: hidden;
    }
    .navbar a {
      float: right;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    .navbar a:hover {
      background-color: #ddd;
      color: black;
    }
  </style>
</head>
<body>
<header>
  <nav class="navbar">
    <div>
      <img src="../../../frontend/public/assets/images/Logo Physio/icononly_transparent_nobuffer.png" alt="logo" title="Physio logo" width=10% height=10%>
      <a href="../pages/contact.html">Contact</a>
      <a href="../pages/servicesTreatment.html">Services</a>
      <a href="../pages/portfolio.html">Portfolio</a>
      <a href="../pages/homepage.html">Home</a>
    </div>
  </nav>
</header>
</body>
</html>