.error-section {
    text-align: center;
    padding: 2rem;
}
.error-section h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
}
.error-section p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.home-button {
    display: inline-block;
    padding: 0.8rem 1.2rem;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s;
}
.home-button:hover {
    background-color: white;
    color: var(--text-color)
}