.contact-section {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contact-text{
    width:30%;
    background-color: var(--block);
    height: auto;
    text-align: start;

} .contact-form {
      width: 48%;
      background-color: var(--block);
      padding: 20px;
      border-radius: 10px;
  }

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    height: 80px;
}

.contact-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.map-instructions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.map-box {
    width: auto;
    height: auto;
    background-color: var(--block);
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

.instructions-box {
    width: 48%;
    height: auto;
    background-color: var(--block);
    text-align: center;
    line-height: 150px;
}
