section {
    margin: 0;
    padding: 0;
}
.top-section {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem;
}
.top-section ul{
    list-style: none;
}
.left-div, .right-div {
    /*background-color: var(--content);*/
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    padding: 1.25rem;
    border-radius: 5%;
    text-align: center;
    position: relative;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/services/chuttersnap-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
    border-radius: inherit;
}
.right-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/services/Louise-Vildmark-auf-Unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
    border-radius: inherit;
}
.left-div:hover, .right-div:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s;
}
.contButton{
    display: inline-block;
    padding: 0.2rem 0.4rem;
    background-color: var(--accent-color);
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s;
    border: none;
}
.contButton:hover {
    transform: scale(1.1);
}
.bottom-section {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.article {
    padding: 1.25rem;
}
.content img {
    max-width: 200px;
    height: auto;
}

@media screen and (min-width: 768px) {
    .top-section {
        flex-direction: row;
        gap: 80px;
        /*justify-content: space-between;*/
    }

    .bottom-section {
        /*display: grid;*/
        /*grid-template-columns: repeat(2, 1fr); !* 3 articles per row *!*/
        /*gap: 20px;*/
    }
    .content {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
    }
    .content img {
        max-width: 300px;
        height: auto;
    }
}

/* Media Query for even larger screens (lg and up) */
@media screen and (min-width: 1024px) {
    .bottom-section {
        /*grid-template-columns: repeat(2, 1fr);*/
    }

    /* Optional: For extra large screens */
    @media screen and (min-width: 1200px) {
        .top-section {
            margin: 40px;
        }

        .bottom-section {
            margin: 40px;
        }
    }
}