section {
    margin: 0;
    padding: 0;
}
.top-section {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem;
}
.top-section ul{
    list-style: none;
}
.left-div, .right-div {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    padding: 1.25rem;
    border-radius: 5%;
    text-align: center;
    position: relative;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}
.left-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/services/chuttersnap-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
    border-radius: inherit;
}
.right-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/services/Louise-Vildmark-auf-Unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
    border-radius: inherit;
}
.left-div:hover, .right-div:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s;
}
.left-div:hover a, .left-div:hover h2 {
    color: white;
}
.servButton{
    display: inline-block;
    padding: 0.2rem 0.4rem;
    background-color: var(--accent-color);
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s;
    border: none;
}
.servButton:hover {
    transform: scale(1.1);
}
.bottom-section {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.article {
    padding: 1.25rem;
    max-width: 800px;
    margin: 1rem auto;
}
.article-dark {
    background-color: var(--article-color);
}
.serviceArt img {
    max-width: 200px;
    height: auto;
}
@media (min-width: 768px) {
    .top-section {
        flex-direction: row;
        gap: 80px;
    }
    .serviceArt {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
    }
    .serviceArt img {
        max-width: 300px;
        height: auto;
    }
}
@media (min-width: 1200px) {
    .top-section {
        margin: 40px;
    }
}