

*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh ;
    background-color: rgb(200, 230, 255) ;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}
