<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive navbar</title>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <nav>
        <ul>
            <li><img class="navbar-logo"
                 src="../../../public/assets/images/Logo%20Physio/icononly_transparent_nobuffer.png" alt="logo"
                 title="Physio logo"/></li>
            <li><a href="../../pages/homepage.html">Home</a></li>
            <li><a href="../../pages/servicesTreatment.html">Services</a></li>
            <li><a href="../../pages/portfolio.html">Portfolio</a></li>
            <li><a href="../../pages/contact.html">Contact</a></li>
        </ul>
    </nav>
</body>
</html>