<!DOCTYPE html>
<html lang="en">
<head>
  <title>Navbar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="navbar.css">
</head>
<body>
  <nav class="navbar">
    <div class="navbar">
      <img class="navbar-logo"
           src="../../../public/assets/images/Logo%20Physio/icononly_transparent_nobuffer.png" alt="logo"
           title="Physio logo"/>
      <a href="../../pages/contact.html">Contact</a>
      <a href="../../pages/servicesTreatment.html">Services</a>
      <a href="../../pages/portfolio.html">Portfolio</a>
      <a href="../../pages/homepage.html">Home</a>
    </div>
  </nav>
</body>
</html>