<nav>
  <ul class="menubar">
    <li onclick=closeMenubar()><span><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960"
          width="26px" fill="rgb(8, 58, 81)">
          <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
        </svg></span></li>
    <mark style="background-color: rgba(255, 255, 255, 0.5); width:100%;">
      <li><a class="link" href="index.html">Home</a></li>
      <li><a class="link" href="servicesTreatment.html">Services</a></li>
      <li><a class="link" href="portfolio.html">Portfolio</a></li>
      <li><a class="link" href="contact.html">Contact</a></li>
    </mark>


  </ul>
  <ul class="menunav">
    <li class="navbar-logo-item"><a href="#" class="navbar-logo-link" style="padding: 0;"><img class="navbar-logo"
          src="../assets/images/logo/Logo_Name_Transparent_NoBuffer.png" alt="logo" title="Physio logo"
          style="max-height: 80px;" /></a></li>
    <li class="hideOnMobile"><a class="link" href="index.html">Home</a></li>
    <li class="hideOnMobile"><a class="link" href="servicesTreatment.html">Services</a></li>
    <li class="hideOnMobile"><a class="link" href="portfolio.html">Portfolio</a></li>
    <li class="hideOnMobile"><a class="link" href="contact.html">Contact</a></li>
    <li class="menu-button" onclick=showMenubar()><span><svg xmlns="http://www.w3.org/2000/svg" height="26px"
          viewBox="0 -960 960 960" width="26px" fill="rgb(8, 58, 81)">
          <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
        </svg></span></li>
  </ul>
</nav>