<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../components/footer/footer.css">
  <title>Footer</title>
</head>
<body>
  <footer id="footer" class="footer">
    <div class="footer-container">
        <!-- Logo and Contact Info -->
        <div class="footer-logo-contact">
            <img src="../assets/images/logo/fulllogo.png" alt="Logo" class="footer-logo">
            <div class="contact-info">
                <p>An den Drei Hasen 29, Oberursel 61440</p>
                <p>Phone: 015510647213</p>
                <p>Email: physio.ebenboeck@gmail.com</p>
            </div>
        </div>

        <!-- Navigation Links -->
        <nav class="footer-nav">
            <a href="homepage.html">Homepage</a>
            <a href="portfolio.html">Portfolio</a>
            <a href="servicesTreatment.html">Services</a>
            <a href="contact.html">Contact</a>
        </nav>

        <!-- Social Media Icons -->
        <div class="footer-social">
            <p class="follow-text">Follow us for more</p>
            <a href="https://www.instagram.com/physiotherapie_ebenboeck?igsh=MXc3dGc1a3RnaXdzcw%3D%3D" target="_blank">
                <img src="../assets/images/instagram_icon_wh.png" alt="Instagram" class="social-icon">
            </a>
        </div>
    </div>
  </footer>
  <script src="index.js"></script>
</body>
</html>