<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" type="text/css" href="../components/footer/footer.css" />
  <title>Footer</title>
</head>
<body>
  <footer id="footer" class="footer">
    <div class="footer-container">
      <div class="footer-left">
        <div class="contact-info">
          <p>An den Drei Hasen 29, Oberursel 61440</p>
          <p>Phone: 015510647213</p>
          <p>Email: physio.ebenboeck@gmail.com</p>
        </div>
        <a href="contact.html" class="contact-me">Contact me</a>
      </div>

      <div class="footer-center">
        <img
          src="../assets/images/logo/icononly_transparent_nobuffer.png"
          alt="Logo"
          class="footer-logo"
        />
      </div>

      <div class="footer-right">
        <p class="follow-text">Follow us for more</p>
        <a
          href="https://www.instagram.com/physiotherapie_ebenboeck?igsh=MXc3dGc1a3RnaXdzcw%3D%3D"
          target="_blank"
        >
          <img
            src="../assets/images/Instagram_Icon.png"
            alt="Instagram"
            class="social-icon"
          />
        </a>
      </div>
    </div>
  </footer>
  <script src="index.js"></script>
</body>
</html>
